@font-face {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/Metropolis-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Cookie";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Cookie-Regular.woff2") format("woff2");
}

[data-theme="light"],
:root {
    --fontMetropolis: "Metropolis", sans-serif;
    --fontCookie: "Cookie", sans-serif;
    --bgColor: #42404c;
    --text-color-primary: #fbfbfe;
    --text-color-donate: #000000;
    --panel-bg-color: #42414d;
    --panel-separator-color: #52525e;
    --button-bg-focus-color-primary: #0df;
    --button-bg-active-color-secondary: #5b5b66;
    --button-bg-hover-color-secondary: #52525e;
    --button-donate-bg-color: #ffdd00;
}

[data-theme="dark"] {
    --fontMetropolis: "Metropolis", sans-serif;
    --fontCookie: "Cookie", sans-serif;
    --bgColor: #42404c;
    --text-color-primary: #fbfbfe;
    --text-color-donate: #000000;
    --panel-bg-color: #42414d;
    --panel-separator-color: #52525e;
    --button-bg-focus-color-primary: #0df;
    --button-bg-active-color-secondary: #5b5b66;
    --button-bg-hover-color-secondary: #52525e;
    --button-donate-bg-color: #ffdd00;
}

* {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding-block-end: 0;
    padding-block-start: 0;
    padding-inline-end: 0;
    padding-inline-start: 0;
}
  
html, body {
    background-color: var(--panel-bg-color);
    transition: height 0.1s ease-in-out;
    border-radius: 6px;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--bgColor);
    transition: height 0.1s ease-in-out;
    width: 352px;
    min-width: 352px;
}

.header {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0px 8px;
}

.title {
    color: var(--text-color-primary);
    font-family: var(--fontMetropolis);
    font-size: 14px;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
}

.divider {
    border: 0;
    border-block-start: 1px solid var(--panel-separator-color);
}

.dummy-block {
    block-size: 32px;
    inline-size: 32px;
}

.info-icon {
    cursor: pointer;
    block-size: 32px;
    inline-size: 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
  
.info-icon:hover {
    background-color: var(--button-bg-hover-color-secondary);
}
  
.info-icon:focus {
    outline: 2px solid var(--button-bg-focus-color-primary);
    outline-offset: 2px;
}
  
.info-icon:active {
    background-color: var(--button-bg-active-color-secondary);
    outline: none;
}

.qr-code-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px 16px 0px 16px;
}

.qr-code {
    --s: 50px; /* the size on the corner */
    --t: 5px;  /* the thickness of the border */
    --g: 20px; /* the gap between the border and image */

    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid var(--button-donate-bg-color); /* the color here */
    outline-offset: calc(-1*var(--t));
    mask:
        conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
        0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        linear-gradient(#000 0 0) content-box;
    transition: .4s;

    max-height: 320px;
    max-width: 320px;
}

.qr-code:hover {
    outline-offset: calc(var(--g)/-1);
}

.qr-code:active {
    opacity: 0.2;
}

.donate-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
    border-radius: 10px;
    margin: 16px;
    pointer-events: all;
    text-decoration: none;
    background-color: var(--button-donate-bg-color);
    transition: background-color 0.1s ease-in-out;
}

.donate-button:hover {
    opacity: 0.85;
}
  
.donate-button:focus {
    outline: 2px solid var(--button-bg-focus-color-primary);
    outline-offset: 2px;
}
  
.donate-button:active {
    opacity: 0.2;
    outline: none;
}

.donate-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.donate-text {
    color: var(--text-color-donate); 
    font-family: var(--fontCookie), cursive; 
    font-size: 24px;
}